.color1{
    background-color: rgb(94, 220, 94);
}
.color2{
    background-color: rgb(59, 141, 59);
}
body{
    background-color: rgb(207, 255, 172);
}
.color{
    background-color: rgb(59, 141, 59);
}
